schema: kata.ai/schema/merapi/1.0

name: ${package.name}
version: ${package.version}

components:
    # main
    main: Main

    # bot management
    bot: bots/Bot
    channel: bots/Channel
    deployment: bots/Deployment
    environment: bots/Environment
    session: bots/Session

    # Project managements
    project: projects/Project

    # user management
    user: users/User
    team: users/Team

    # nlu management
    nlu: nlus/Nlu

    # helper
    compile: scripts/Compile
    helper: scripts/Helper
    tester: scripts/Tester

    # api
    api: api/Api
    zaun: api/Zaun


config:
    trackingId: "UA-131926842-1"
    channels:
        type:
            - line
            - slack
            - generic
            - fbmessenger
            - telegram
            - qiscus
            - twitter

        url:
            line: https://api.line.me
            telegram: https://api.telegram.org
            fbmessenger: https://graph.facebook.com/v2.6/me/messages
            slack: https://slack.com/api
            qiscus: https://<appId>.qiscus.com
            twitter: https://api.twitter.com

commands:
    bot:
        type: group
        desc: Commands for bot management
        subcommands:
            init:
                desc: initialize new bot.yml file
                args: "<name>"
                params:
                    config:
                        type: string
                        desc: param string
                handler: bot.init
                alias: init
            revisions:
                desc: list all bot revision
                handler: bot.revisions
                alias: revisions
            push:
                desc: push and update version bot
                params:
                    tag:
                        type: string
                        desc: tag version for deployment
                handler: bot.push
                alias: push
            pull:
                desc: pull bot with specific revision
                args: "[revision]"
                handler: bot.pull
                alias: pull
            discard:
                desc: discard bot
                params:
                    draft:
                        type: string
                handler: bot.discard
                alias: discard
            console:
                desc: kata-cli interactive command
                params:
                    session:
                        type: string
                        desc: session id to use in console
                        short: s
                handler: bot.console
                alias: console
            errors:
                desc: bot error log
                handler: bot.errors
                alias: errors
    deployment:
        type: group
        desc: Commands for deployment bot
        subcommands:
            create:
                desc: Create a Deployment of the selected project
                args: "[versionType]"
                handler: deployment.create
                alias: create-deployment
            list:
                desc: list all deployment by bot id
                handler: deployment.list
                alias: list-deployment
            rollback:
                desc: rollback deployment
                handler: deployment.rollback
                alias: rollback-deployment

    environment:
        type: group
        desc: Commands for environment bot
        subcommands:
            create:
                desc: Create an environment on the selected project
                args: <slug>
                handler: environment.create
                alias: create-environment
            list:
                desc: List environments of the selected project
                handler: environment.list
                alias: list-environment
            update:
                desc: Update an environment of the selected project
                args: "[newDeploymentVersion]"
                handler: environment.update
                alias: update-environment

    channels:
        type: group
        desc: Commands for channel
        subcommands:
            addChannel:
                args: <channelName>
                desc: Create a channel on the selected environment
                params:
                    data:
                        type: json
                        desc: channel json data
                        short: d
                handler: channel.addChannel
                alias: add-channel
            list:
                desc: List channels of the selected environment
                handler: channel.list
                alias: list-channel
            removeChannel:
                desc: Remove a channel from the selected environment
                args: <channelName>
                handler: channel.removeChannel
                alias: remove-channel
            updateChannel:
                desc: Update a channel from selected environment
                args: <channelName>
                params:
                    data:
                        type: json
                        desc: channel json data
                        short: d
                handler: channel.updateChannel
                alias: update-channel

    project:
        type: group
        desc: Commands for bot projects
        subcommands:
            create:
                desc: create project
                handler: project.create
                alias: create-project
            select:
                desc: select project
                handler: project.select
                alias: select-project
            list:
                desc: list all project
                handler: project.list
                alias: list-project
            delete:
                desc: delete project
                args: "[projectId]"
                handler: project.delete
                alias: delete-project
            update:
                desc: update project
                args: "[projectId]"
                handler: project.update
                alias: update-project

    session:
        type: group
        desc: Commands for session management
        subcommands:
            get:
                desc: get session
                args: "<id> [deploymentId]"
                handler: session.get
            create:
                desc: create session
                args: "[id] [deploymentId]"
                params:
                    data:
                        type: json
                        desc: session json object
                        short: d
                    file:
                        type: file
                        desc: file yaml or json contains session
                        short: f
                handler: session.create
            update:
                desc: update session
                args: "<id> [deploymentId]"
                params:
                    data:
                        type: json
                        desc: session json object
                        short: d
                    file:
                        type: file
                        desc: file yaml or json contains session
                        short: f
                handler: session.update
            delete:
                desc: delete session
                args: "<id> [deploymentId]"
                handler: session.delete

    config:
        type: group
        desc: Command for config management
        subcommands:
            view:
                desc: view config stored in .katajson file
                handler: helper.viewConfig

    set:
        type: command
        desc: Command for set property value
        args: "<prop> <value>"
        handler: helper.setProp

    timestamp:
        type: command
        desc: Command for get timestamp
        handler: session.timestamp

    user:
        type: group
        desc: user management
        subcommands:
            createUser:
                desc: create new user
                args: <username>
                params:
                    admin:
                        type: boolean
                        desc: label admin
                        short: a
                    internal:
                        type: boolean
                        desc: label internal
                        short: i
                handler: user.createUser
                alias: create-user
            switch:
                desc: switch between team and user
                args: <type> [name]
                handler: user.switch
                alias: switch
            login:
                desc: login to kata
                params:
                    user:
                        type: string
                        desc: username login
                        short: u
                    password:
                        type: string
                        desc: password login
                        short: p
                    token:
                        type: string
                        desc: token login
                        short: t
                handler: user.login
                alias: login
            logout:
                desc: logout from kata
                handler: user.logout
                alias: logout
            forgotpassword:
                desc: forgot password
                args: "[username]"
                handler: user.forgot
                alias: forgot-password
            whoami:
                desc: identify current user
                handler: user.whoami
                alias: whoami
            changePassword:
                desc: change current user password
                handler: user.changePassword
                alias: change-password
            listTeam:
                desc: list team
                handler: user.listTeam
                alias: list-team
            listTeamUser:
                desc: list team user
                handler: user.listTeamUser
                alias: list-team-user
            createTeam:
                desc: create team
                args: <name>
                handler: user.createTeam
                alias: create-team
            addMember:
                desc: add member to team
                args: <username>
                handler: team.addMember
                params:
                    admin:
                        type: boolean
                        desc: admin label for new member
                        short: a
                alias: add-member
            removeMember:
                desc: remove member from team
                args: <username>
                handler: team.removeMember
                alias: remove-member
            impersonate:
                desc: impersonate as certain user
                args: <username>
                handler: user.impersonate
                alias: impersonate
            unimpersonate:
                desc: unimpersonate current user, set back to admin
                handler: user.unimpersonate
                alias: unimpersonate
    nlu:
        type: group
        desc: command for nlu management
        subcommands:
            pull:
                desc: pull nlu from server
                handler: nlu.pull
                alias: nl-pull
            push:
                desc: create or update nlu
                handler: nlu.push
                alias: nl-push
            init:
                desc: init nlu file
                handler: nlu.pull
                alias: nl-init
            train:
                desc: train nlu
                handler: nlu.train
                params:
                    file:
                        type: string
                        desc: file path contain data training
                        short: f
                    sentence:
                        type: string
                        desc: string to train
                        short: s
                alias: nl-train
            predict:
                desc: predict
                handler: nlu.predict
                params:
                    file:
                        type: string
                        desc: file path contain data to predict
                        short: f
                    sentence:
                        type: string
                        desc: string to predict
                        short: s
                    nlu:
                        type: string
                        desc: nlu to use
                        short: nlu
                alias: nl-predict
            listProfiles:
                desc: list default profiles
                handler: nlu.listProfiles
                alias: list-profiles
            snapshot:
                desc: snapshot profiles
                handler: nlu.snapshot
                alias: nl-snapshot
            listTraining:
                desc: list training
                handler: nlu.listTraining
                params:
                    page:
                        type: number
                        desc: Number page
                        short: p
                alias: nl-list-training
            listPrediction:
                desc: list prediction log
                handler: nlu.listPrediction
                params:
                    page:
                        type: number
                        desc: Number page
                        short: p
                alias: nl-list-prediction
            listRevision:
                desc: list revision
                handler: nlu.listRevision
                alias: nl-list-revision
            issueToken:
                desc: get issue token
                handler: nlu.issueToken
                alias: nl-issue-token
            detail:
                desc: get NL detail
                handler: nlu.detail
                alias: nl-detail

# entry point
main: main
